<nav class="navbar navbar-dark bg-danger">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">KC Star Mongo Scraper</a>
        </div>
        <form class="form-inline">
            {{!-- <ul class ="nav navbar-nav navbar-right top-buttons"> --}}
            {{!-- <ul class="nav navbar-nav"> --}}
            <button type="button" class="btn btn-danger" id="scrape">Scrape Articles</button>
            <button type="button" class="btn btn-danger" id="saved">Saved Articles</button>
            {{!-- </ul> --}}
        </form>
    </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="jumbotron">

            <div class="articles">
                <div class="load">
                    {{#each articles}}
                    {{#unless saved}}
                    <div class="article">
                        <a href="{{link}}">
                            <h2>{{title}}</h2>
                        </a>
                        <button class="btn btn-danger save" data-id="{{_id}}">Save Article</button>
                        <br>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>


    </div>
</div>