a {
    color: black;
    font-family: 'Slabo 27px', serif;

}

#header {
    background-color: white;
    text-align: center;
    font-family: 'Slabo 27px', serif;

}

body {
    background-image: url("../images/newspaperbg2.jpg");
    background-size: cover;
}

.jumbotron {
    background-color: rgb(207, 201, 181);
    border-style: solid;
    border-color: black;

}

.navbar {
    font-family: 'Slabo 27px', serif;
}